*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #292929;
  color: #fff;
  margin: 0;
  font-family: 'Gotham Pro', Arial, sans-serif;
}

.header-description {
  font-family: 'Gotham Pro Light', Arial, sans-serif;
  font-size: 12px;
}

.text-color-red {
  color: #ff3469;
  font-family: 'Gotham Pro Medium', Arial, sans-serif;
}

.header {
  padding-top: 50px;
}

.header-phone {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  display: block;
  text-align: right;
}

.header-info {
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px;
  display: block;
  text-align: right;
}

.header-callback {
  color: #ff3469;
  display: block;
  text-align: right;
  margin-top: 16px;
  font-size: 16px;
}

.hero {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 77px;
  border-bottom: 1px solid #4c4c4c;
}

.hero-title {
  font-size: 34px;
  margin-bottom: 34px;
  text-transform: uppercase;
  line-height: normal;
  font-family: 'Gotham Pro Medium', Arial, sans-serif;
  letter-spacing: 0.34px;
}

.hero-description {
  font-size: 18px;
  font-family: 'Gotham Pro Light', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.18px;
  line-height: 1.4;
}

.flowers-slider {
  width: 100%;
  text-align: center;
  margin-bottom: 83px;
  margin-top: 87px;
}

:root {
  --swiper-navigation-size: 18px;
}

.hero-call-action {
  display: block;
  font-size: 19px;
  letter-spacing: 0.19px;
  text-transform: uppercase;
  font-family: 'Gotham Pro Light', Arial, sans-serif;
  margin-bottom: 36px;
}

.button {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #ff2e55;
  padding: 30px 65px 26px;
  margin-top: 36px;
}

.reviews {
  padding-top: 100px;
  padding-bottom: 50px;
}

.review-slide {
  padding-left: 60px;
  padding-right: 60px;
}

.review-name {
  margin-bottom: 7px;
}

.review-image:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.review-image {
  position: relative;
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  font-size: 20px;
  font-family: 'Gotham Pro Light', Arial, sans-serif;
  margin-right: 50px;
}

.review-image > * {
  position: relative;
}

.review-image-1 {
  background: url('../img/reviews/review-image-1.jpg');
}

.review-image-2 {
  background: url('../img/reviews/review-image-2.jpg');
}

.review-text {
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 1.4;
}

.review-link {
  color: #f24841;
}

.swiper-button-prev,
.swiper-button-next {
  color: #f24841;
  width: 21px;
  height: 34px;
}

.section-title {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3px;
  margin-bottom: 98px;
}

.advantages {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 50px;
  border-bottom: 1px solid #4c4c4c;
}

.advantages-wrapper {
  min-height: 85px;
  margin-bottom: 30px;
}

.advantages-title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.4;
  max-width: 270px;
  margin: auto;
}
